# Activar motor de reescritura
RewriteEngine On

# Establecer la base desde la raíz del proyecto
RewriteBase /ProyectoFinal/

# Permitir acceso directo a archivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las peticiones a index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Proteger archivos ocultos como .env o .git
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Proteger archivos sensibles como .sql, .ini, etc.
<FilesMatch "(^#.*#|\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|sw[op])|~)$">
    Order allow,deny
    Deny from all
</FilesMatch>
